@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
  background-color: #fafafa;
}

.landing-body {
  background-image: url("../src/bg-img/Vector.png"),
    url("../src/bg-img/Vector2.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 180px, 550px;
}

.main {
  padding-top: 4rem;
  height: 80vh;
  justify-content: center;
}

.img-section {
  margin-bottom: 2rem;
}

.center-text {
  text-align: center;
  justify-content: center;
}

.main-text h1 {
  font-weight: 700;
  font-size: 2rem;
}

.bg-img {
  width: 97%;
}

.nav-bar {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.nav-bar img {
  width: 200px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items img {
  width: 20px !important;
  height: 20px !important;
  margin-left: 1rem;
  margin-right: 1rem;
}

.logo {
  text-align: center;
}
.main-row-child {
  justify-content: center;
}
.main-row-child h1 {
  font-size: 3.5em;
  text-align: center;
  margin: auto 0;
}
.main-row-child .welcome {
  text-align: center;
  margin: 0 auto;
  /* margin-left: 130px; */
  width: 70%;
}
.main-row-child .welcome-image {
  width: 350px;
  margin-left: 90px;
  align-items: center;
  text-align: center;
}
.vacancy {
  margin-bottom: 2rem;
}
.main-row .vacancy {
  margin-top: 27px;
  text-align: center;
}
.main-row .vacancy a {
  cursor: pointer;
  text-decoration: underline;
}

.sign-in-form {
  padding: 2em;
  width: 70%;
  height: 80%;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: 10rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.sign-in-form img {
  margin-left: 8rem;
  margin-bottom: 2rem;
  width: 150px;
}

.form-header {
  text-align: center;
}

.form_group {
  margin-top: 2em;
}

.form_input {
  outline: none;
  overflow: hidden;
  font-size: 16px;
  width: 100%;
  justify-content: left;
  font-family: inherit;
  padding: 1.5rem 0rem;
  border: none;
  border-bottom: 1px solid #999999;
  /* background-color: #edefff; */
}
.form_input::-webkit-input-placeholder {
  font-size: 1.2rem;
}
.form_input:focus {
  outline: none;
  border-bottom: 3px solid #28b485;
}
.form_input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

form .form_group .middle-footer {
  display: flex;
  justify-content: left;
  margin-top: 5em;
}

.middle-footer p {
  border-bottom: 1px solid #999999;
}
.middle-footer p a {
  cursor: pointer;
}

.form_submit {
  background-color: green;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 1.2rem;
}

.new-app-header {
  padding: 2rem;
}

.new-app-header h1 {
  color: #292f53;
  font-size: 50px;
}

.new-app-header p {
  font-size: 20px;
}

.new-app-img img {
  width: 250px;
}

.new-app-form {
  width: 100%;
}

.new-app-form-field {
  margin: 1rem;
  padding: 1rem;
  border: 1.3px solid #453174;
}

.new-app-btn {
  justify-content: center;
}

.new-app-btn button {
  background-color: #076032 !important;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: none !important;
  width: 25%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.long-field {
  width: 88% !important;
  margin-left: 1.7rem;
}
.short-field {
  width: 80% !important;
}

.align-end {
  text-align: end;
}

.dash-header h1 {
  font-weight: 400;
}

.dash-header p {
  font-weight: 100;
  color: #999999;
}

.app-ov-card {
  /* padding: 2rem; */
  background-color: #fff;
  border-radius: 10px;
}

.app-ov-card img {
  width: 300px;
  
}
.skills{
  
  margin: 3em auto;
}
.card2 img {
  height: 120px;
  width: 100% !important;
  margin-top: 0;
}

.cards-header {
  font-weight: 700;
  margin-bottom: 2rem;
}

.stats-info img {
  width: 20px;
  margin-right: 1rem;
}

.card2 {
  text-align: center;
  display: flex;
  align-items: center;
}

.card2 h2 {
  color: #453074;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1em;
}

.card2 button,
.blue-btn {
  background-color: #292f53;
  
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 9rem;
  border: none;
}

.blue-btn {
  margin-left: 0 !important;
  margin-top: 1rem;
  padding: 0.5rem;
  font-size: 8px;
  width: 100%;
  border-radius: 6px;
}
.btn-lg {
  font-size: 15px !important;
  padding: 1rem !important;
  margin-bottom: 2rem;
}

.positions-cards {
  padding: 2rem;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.positions-cards img {
  width: 30px;
  height: 30px;
}

.positions-cards h3 {
  font-size: 12px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.positions-cards p {
  font-size: 12px;
  font-weight: 100;
  color: #686666;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.job-tag {
  font-size: 8px;
  padding: 0.3rem;
  background-color: #d8d4d4;
  border-radius: 5px;
}

.luminate-vid {
  background: url("../src/bg-img/Subtract.png");
  width: 100px !important;
}
.luminate-vid img {
  width: 370px;
}

.luminate-logo {
  margin-top: -5.2rem;
}

.luminate-logo img {
  width: 370px;
}

.overview-info {
  display: inline-flex;
}
.overview-info input {
  margin-right: 1rem;
  margin-top: 5px;
}

.warning-info {
  margin-left: 4rem;
}

.warning-info p {
  color: #c30202;
}

._53Ji7 {
  padding: 2rem;
  width: 100% !important;
}

._2_g61 {
  padding: 1rem;
  margin-top: 5rem !important;
}

@media (min-width: 1200px) {
  .container {
    max-width: 95% !important;
  }
}
@media (max-width: 576px) {
  body {
    box-shadow: none;
  }
  form {
    margin-top: 27em;
    width: 100%;
  }
  .main-row .vacancy {
    text-align: center;
    margin-top: 10px;
  }
  .main-row-child h1 {
    text-align: center;
  }
}
/* @media (width: 1400px) {
  .bg-img {
    width: 85%;
  }
} */

@media (max-width: 576px) {
  .main-row .main-row-child {
    height: 90px;
  }
}
