@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");

body {
  width: 100%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  color: #222;
}

.main {
  padding-top: 4rem;
  height: 80vh;
  justify-content: center;
}

.bg-img {
  width: 97%;
}

.logo {
  text-align: center;
}
.main-row-child {
  justify-content: center;
}
.main-row-child h1 {
  font-size: 3.5em;
  text-align: center;
  margin: auto 0;
}
.main-row-child .welcome {
  text-align: center;
  margin: 0 auto;
  /* margin-left: 130px; */
  width: 70%;
}
.main-row-child .welcome-image {
  width: 350px;
  margin-left: 90px;
  align-items: center;
  text-align: center;
}
.main-row .vacancy {
  margin-top: 27px;
  text-align: center;
}
.main-row .vacancy a {
  cursor: pointer;
  text-decoration: underline;
}

form {
  background-color: #fff;
  /* box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); */
  padding: 3em;
  border-radius: 5px;
  margin-top: -2rem;
  margin-left: 2rem;
}

form img {
  color: #000 !important;
  background-color: #076032;
  margin-left: 5rem;
  margin-bottom: 2rem;
}

.form-header {
  text-align: center;
}

form:hover {
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  padding: 3em;
  border-radius: 5;
}

.form_group {
  margin-top: 2em;
}

.form_input {
  outline: none;
  overflow: hidden;
  font-size: 16px;
  width: 100%;
  justify-content: left;
  font-family: inherit;
  padding: 1.5rem 0rem;
  border: none;
  border-bottom: 1px solid #999999;
  /* background-color: #edefff; */
}
.form_input::-webkit-input-placeholder {
  font-size: 1.2rem;
}
.form_input:focus {
  outline: none;
  border-bottom: 3px solid #28b485;
}
.form_input:focus:invalid {
  border-bottom: 3px solid #ff7730;
}

form .form_group .middle-footer {
  display: flex;
  justify-content: left;
  margin-top: 5em;
}

.middle-footer p {
  border-bottom: 1px solid #999999;
}
.middle-footer p a {
  cursor: pointer;
}

.form_submit {
  background-color: green;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 1.2rem;
  cursor: pointer;
  margin-left: 30px;
  margin-bottom: 1.2rem;
}
@media (max-width: 576px) {
  body {
    box-shadow: none;
  }
  form {
    margin-top: 27em;
    width: 100%;
  }
  .main-row .vacancy {
    text-align: center;
    margin-top: 10px;
  }
  .main-row-child h1 {
    text-align: center;
  }
}

@media (max-width: 576px) {
  .main-row .main-row-child {
    height: 90px;
  }
}
