@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,700");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

body {
  width: 100%;
  height: fit-content !important;
  font-family: "Poppins", sans-serif !important;
  color: #222;
  background-color: #fafafa;
}

select.form-control:not([size]):not([multiple]) {
  height: inherit;
}

.purple-bg {
  background-color: #4f567c !important;
}

.green-bg {
  background-color: #548a6e !important;
}

.form-btn {
  background-color: #076032;
  color: #fff;
  border: none;
  padding: 0.5em;
  border-radius: 5px;
}

.form-card-header {
  font-weight: 800;
  text-align: center;
  padding: 1em;
}

.form-card-header h3 {
  font-weight: 800;
  color: #076032;
}

.container {
  height: 100% !important;
}
.page-container {
  height: 100vh !important;
}

.swal-button {
  background-color: #076032 !important;
}

.new-app-container {
  position: sticky;
}

.landing-body {
  background-image: url("../src/bg-img/Vector.png"),
    url("../src/bg-img/Vector2.png");
  background-position: bottom left, bottom right;
  background-repeat: no-repeat, no-repeat;
  background-size: 180px, 550px;
  overflow: hidden;
}
.sign-up-body {
  background-image: url("../src/bg-img/Vector2.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 480px;
}

.sign-up-bg {
  background-image: url("../src/bg-img/sign-up-bg.png");

  background-size: 470px;
  background-repeat: no-repeat;
  background-position: 750px 40px, right;
}

.main {
  padding-top: 4rem;
  height: 100vh;
  justify-content: center;
}

.img-section {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.center-text {
  text-align: center;
  justify-content: center;
}
.left-text {
  text-align: left !important;
  justify-content: center;
}
.main-text {
  width: 120%;
}
.text-sidmach {
  color: #292f53;
}

.main-text h1 {
  font-weight: 700;
  font-size: 3.1rem;
  margin-top: -1rem;
  line-height: 4rem;
}

.bg-img {
  width: 97%;
}

.nav-bar {
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

.nav-bar img {
  width: 200px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
}

.nav-items img {
  width: 20px !important;
  height: 20px !important;
  margin-left: 1rem;
  margin-right: 1rem;
}
.sign-up-header {
  color: #292f53;
  margin-bottom: 2rem;
  font-size: 20px;
}

.logo {
  text-align: center;
}
.main-row-child {
  justify-content: center;
}
.main-row-child h1 {
  font-size: 3.5em;
  text-align: center;
  margin: auto 0;
}
.main-row-child .welcome {
  text-align: center;
  margin: 0 auto;
  /* margin-left: 130px; */
  width: 70%;
}
.main-row-child .welcome-image {
  width: 350px;
  margin-left: 90px;
  align-items: center;
  text-align: center;
}
.vacancy {
  margin-bottom: 2rem;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.4);
}
.main-row {
  margin-top: 27px;
  text-align: center;
}
.main-row .vacancy a {
  cursor: pointer;
  color: #000;
  text-decoration: underline;
}

.sign-up-form {
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2rem;
  width: 83%;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.form-check {
  margin-left: -2.2rem;
}

.sign-up-form input {
  margin: 1rem;
  border: none;
  background-color: #f9fafc;
  padding: 0.5rem;
  width: 100%;
}
.sign-up-form input[type="checkbox"] {
  width: 5%;
}

.sign-up-form input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #c9c5c5;
  font-weight: 100;
}

.sign-up-btn {
  font-size: 12px !important;
}

.sign-in-form {
  padding: 2em;
  width: 70%;
  height: 80%;
  border-radius: 20px;
  margin-top: 2rem;
  margin-left: 10rem;
  background-color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
}

.sign-in-form img {
  margin-left: 6.5rem;
  margin-bottom: 2rem;
  width: 150px;
}

.form-logo {
  justify-content: center;
}

.form-logo img {
  width: 250px;
  height: 100px;
}

.form-header {
  text-align: center;
}

.form_group {
  margin-top: 2em;
}

.form_input {
  outline: none;
  overflow: hidden;
  font-size: 16px;
  width: 100%;
  justify-content: left;
  font-family: inherit;
  padding: 1rem;
  border-radius: 20px;
  border: none;

  background-color: #f9fafc;
}
.form_input::-webkit-input-placeholder {
  font-size: 1rem;
  color: #c9c5c5;
  font-weight: 100;
}

form .form_group .middle-footer {
  display: flex;
  justify-content: left;
  margin-top: 2em;
}
.form-control {
  font-size: 0.7rem !important;
}

.middle-footer p {
  border-bottom: 1px solid #999999;
}
.middle-footer p a {
  cursor: pointer;
  color: #000;
}

.form_submit {
  background-color: #292f53;
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  padding: 0.5rem 2rem;
  border-radius: 12px;
  cursor: pointer;
  margin-left: 18px;
  margin-bottom: 1.2rem;
}
.no-account-link {
  margin-left: 1rem;
}
.no-account-link a {
  color: #000;
}

.new-app-header {
  padding: 2rem;
}

.new-app-header h1 {
  color: #292f53;
  font-size: 50px;
}

.new-app-header p {
  font-size: 16px;
  width: 65%;
  color: rgba(0, 0, 0, 0.8);
}

.new-app-img img {
  width: 250px;
}

.new-app-form {
  width: 100%;
}

.new-app-form-field {
  margin: 1rem;
  padding: 1rem;
  border: none;
  background-color: #eeeeee;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border: 1px solid #eeeeee !important;
  outline: 0;
  box-shadow: none !important;
}

.new-app-btn {
  justify-content: center;
}

.new-app-btn button {
  background-color: #076032 !important;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: none !important;
  width: 25%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.long-field {
  width: 88% !important;
}
.mid-field {
  width: 60% !important;
}
.short-field {
  width: 75% !important;
}
.form-group {
  width: 100%;
}

.input-container {
  justify-content: center !important;
  display: flex;
}

.align-end {
  text-align: end;
}

.dash-header {
  display: flex;
  align-items: center;
}

.dash-header h1 {
  font-weight: 500;
  font-size: 2.7rem;
}

.dash-header p {
  font-weight: 100;
  font-size: 1.5rem;
  color: #999999;
}

.applicant-info button,
.dash-header button {
  padding: 1rem;
  box-shadow: none;
  background-color: #292f53;
  color: #fff;
  border: none;
  border-radius: 50px;
  box-shadow: 0 5px 15px rgba(145, 92, 182, 0.4);
}

.dash-header img {
  width: 30px;
}
.applicant-info img {
  width: 20px;
}

.flex-end {
  text-align: right;
}

.flex-center {
  display: flex;
  justify-content: center;
}

.app-ov-card {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #fff;
  border-radius: 10px;
}

.app-ov-card img {
  width: 460px;
}

.row-center-align {
  display: flex;
  align-items: center;
}
.skills {
  margin-left: -30px;
}
.card2 {
  padding: 0;
}
.card2 img {
  height: 120px;
  width: 100% !important;
  margin-top: 0;
}

.cards-header {
  font-weight: 500;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.stats-info {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.stats-info .media {
  margin-bottom: 1rem;
}

.stats-info img {
  width: 20px;
  margin-right: 1rem;
}

.card2 {
  display: flex;
}

.card2 h2,
.skills h2 {
  color: #453074;
  font-weight: 700;
  margin-bottom: 2rem;
  margin-top: 1em;
}

.card2 button,
.blue-btn {
  background-color: #292f53;

  color: #fff;
  padding: 1rem;
  border-radius: 10px;
  margin-left: 9rem;
  border: none;
}

.blue-btn {
  margin-left: 0 !important;

  padding: 0.5rem;
  font-size: 8px;
  width: 100%;
  border-radius: 6px;
}
.view-app-link a {
  width: 100%;
}
.btn-lg {
  font-size: 15px !important;
  padding: 1rem !important;
  margin-bottom: 2rem;
}

.positions-cards {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  /* height: ; */
}

.position-cards-inner {
  padding-top: 4px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
}

.positions-cards img {
  width: 100%;
}

.positions-cards h3 {
  font-size: 18px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.positions-cards p {
  font-size: 12px;
  font-weight: 100;
  color: #686666;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 90%;
}

.job-tag {
  font-size: 10px;
  padding: 0.3rem;
  background-color: #d8d4d4;
  border-radius: 5px;
}

.luminate-vid {
  margin-top: 6.1rem;
  background: url("../src/bg-img/Subtract.png");
  width: 100px !important;
}
.luminate-vid img {
  width: 370px;
}

.luminate-logo {
  margin-top: -5.2rem;
}

.luminate-logo img {
  width: 370px;
}

.overview-info {
  display: inline-flex;
}
.overview-info input {
  margin-right: 1rem;
  margin-top: 5px;
}

.warning-info {
  border: 1px solid rgba(0, 0, 0, 0.2);
  width: 30%;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.media-body p {
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}

.warning-info p {
  color: #c30202;
}

.progress-info {
  width: 30% !important;
}

.progress-info p {
  color: rgba(41, 47, 83, 0.5) !important;
}

._53Ji7 {
  padding: 2rem;
  width: 100% !important;
}

._2_g61 {
  padding: 1rem;
  margin-top: 5rem !important;
}

._2Jtxm._35Ago ._2kL0S {
  background-color: #292f53 !important;
  color: white;
  animation: _JAh3L 400ms ease forwards;
}

._2Jtxm._2ZUAI ._2JvrO {
  background-color: #076032 !important;
  color: white;
  animation: _3SDnc 400ms ease-in-out forwards;
}

._hsN1w {
  background-color: #292f53 !important;
  border: none !important;
  color: white !important;
}

._3uApM {
  justify-content: center !important;
}

.form-card {
  background-color: #fff;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 10px;
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);
}

.form-card img {
  width: 450px;
  position: absolute;
  top: -52px;
  right: 2px;
  z-index: -1;
}

.job-desc {
  display: flex;
  align-items: center;
}

.job-name h1 {
  color: #292f53;
  font-size: 50px;
}

.job-applicants img {
  width: 30px;
  margin-right: 1rem;
}

.job-applicants p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
}

.applicant h3 {
  color: #292f53;
  font-size: 25px;
}

.applicant p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 14px;
  font-weight: 300;
}

.applicant-info {
  margin-bottom: 2rem;
}

.center-col {
  text-align: center;
}

.bar-chart {
  height: 200px !important;
}

.canvasjs-chart-credit {
  color: #fff !important;
}
.dropdown-menu {
  position: absolute;
  top: 120%;
  left: -10rem;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.profile-dropdown-header {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}
.dropdown-media {
  margin-left: -1rem !important;
}
.dropdown-media img {
  width: 17px !important;
  height: 17px !important;
}

.drop-menu-item p {
  color: rgba(0, 0, 0, 0.5);
}
.user-type {
  font-size: 14px;
  font-weight: 200;
}

.action-btn {
  float: left !important;
  margin-bottom: 2rem !important;
}

.action-btn button {
  padding: 0.7em;
  border: none;
  color: #fff;
  font-size: 0.8rem;
  border-radius: 5px;
  width: max-content !important;
}
.danger-btn {
  background-color: #c30202;
}
.approve-btn {
  background-color: #076032;
}

.details-card {
  padding-bottom: 4rem !important;
}

/* .cards-section {
  margin-top: 8em;
} */

.dash-cards {
  padding: 2em;
  background-color: #000;
  color: #fff;
  margin-bottom: 1.5em;
  border-radius: 15px;
  position: relative;
  transition: all 1s ease-in-out;
}

.dash-cards:hover {
  transform: translateX(1rem);
}

.counter {
  background-color: #c30202;
  padding: 0.8em;
  position: absolute;
  top: -20px;
  right: -15px;
  color: #fff;
  border-radius: 50%;
  width: 8.5%;
  font-size: 12px;
}

.np-card {
  width: 60%;
}

.np-container {
  display: flex;
  justify-content: center !important;
}
@media (min-width: 1200px) {
  .container {
    max-width: 95% !important;
  }
}
@media (max-width: 576px) {
  body {
    box-shadow: none;
  }
  form {
    margin-top: 27em;
    width: 100%;
  }
  .main-row .vacancy {
    text-align: center;
    margin-top: 10px;
  }
  .main-row-child h1 {
    text-align: center;
  }
}
/* @media (width: 1400px) {
  .bg-img {
    width: 85%;
  }
} */

@media (max-width: 576px) {
  .main-row .main-row-child {
    height: 90px;
  }
  .bg-img {
    display: none;
  }
  .main {
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    padding: 4em 2em;
    height: 30vh;
  }
  .main-row {
    width: 100%;
    display: block;
    /* margin-left: -40px; */
  }
  .sign-in-form {
    padding: 3em;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    background-color: #fff;
    width: 100%;
    box-shadow: none;
  }
  .sign-in-form img {
    margin: 2rem auto;
    width: 180px;
  }
  .form_submit {
    text-align: center;
    margin: 0 auto;
  }

  .main-text h1 {
    font-weight: 700;
    font-size: 2.1rem;
    /*  text-align: center; */
    margin-top: -1rem;
    text-align: center;

    line-height: 4rem;
  }
  .sign-in-form {
    height: 90%;
    margin-top: 1rem;
  }
  .vacancy {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.4);
  }
  .no-account-link {
    margin-left: 1rem;
    margin-top: 1rem;
  }

  /* media query for new-application-page
 */
  .new-app-form img {
    display: none;
  }
  .new-app-header {
    text-align: center;
  }
  .new-app-header p {
    text-align: center;
    width: 100%;
  }
  .new-app-form {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1rem;
  }
  .new-app-form .row {
    display: block;
    width: 100%;
  }

  /* .gender{
  display: grid !important;
  grid-template-columns: 1fr im !important;
 } */
  /* .gender .short-field{
   width: 100%;
 } */
  .StepProgressBar {
    display: block;
  }
  /* ._2kL0S {
  } */

  ._1ixJ3 {
    display: none !important;
  }
}
