@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}

.align-center img{
    width: 30px;
}
.align-center button{
    text-align: center;
    
}
.test {
    margin-top: 20px;
    display: grid;
   grid-template-columns: 1fr 1fr;
}
.test p{
    margin-left: -180px;
}
nav{
    margin-top: 0;
}
.logo{
    /* background-color: red; */
    border-radius: 10px;
    margin-top: 0em;
}

nav .nav-main{
    
    height: 70px;
    width: 100%;
    font-size: 1.2em;
}
.navbar .nav-main .collapse ul{
margin: 0 auto;
}
.navbar .nav-main .collapse ul .image-link img{
     margin-left: 30px;
}
.navbar .nav-main .collapse li a {
color: #fff;
margin-left: 3em;
}

.section-main{
    margin-top: 4em;
}

.section-main .section-right{
    margin-top: 2em;
    margin: 0 auto;

}
.left_middle{
    margin-top: 4em;
    padding: 1em;
    border: 2px solid grey;
}

.left_low{
    
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.first , .second , .third{
    width:300px;
    justify-content: center;
    padding: 1em;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
}
.second , .third{
    margin-left: 20px;
}

.mid_level{
    background-color: #E5E5E5;
    color:#292F53;
    font-weight: 700;
    border: none;
    border-radius: 10px;
   width: 100px;
}
.inner{
    margin-left: 30px;
    background-color: #E5E5E5;
    color:#292F53;
    font-weight: 700;
    border: none;
    border-radius: 10px;
   width: 80px;
}

.last{
    margin-top: 1em;
    text-align: center;
    justify-self: center;
    width: 200px;
    background-color:#292F53;
    border: none;
   
}
.personal{
    justify-content: center;
}

.personal img{
    margin:0 auto;

}