@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');


body{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    
}
nav{
    margin-top: 0;
}
.logo{
    background-color: red;
    border-radius: 10px;
    margin-top: 0em;
}
.details img{
    border-radius: 20px;
    width: 80px;
}
nav .nav-main{
    
    height: 70px;
    width: 100%;
    font-size: 1.2em;
}
.navbar .nav-main .collapse ul{
margin: 0 auto;
}
.navbar .nav-main .collapse li a {
color: #fff;
margin-left: 3em;
}

.section-main{
    margin-top: 100em;
    background-color: red;
}

.section-main .section-right{
    margin-top: 2em;
    margin: 0 auto;

}

.section-main .section-right .personal{
    background-color: #fff;

    border-radius: 10px 10px 0 0;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    width: 80%;
}

.section-main .section-right .personal .personal-info{
    padding: 1em 1em;
}
.section-main .section-right .personal .application{
    margin-top: 1em;
    display: flex;
}
.personal .envelope{
    background-color:purple;
    padding:5px;
    width: 40px;
    border-radius: 10px;
    height: 40px;
    color: #fff;

}
.details{
    margin-top: 2em;
}

.details .details-file{
    background-color: #fff;
    padding: 40px;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    
}
.details .details-file2{
    background-color: #fff;
    margin-left: 2.5em;
    padding: 40px; 
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
    
}

.details .details-file .first button{
    background-color: rgb(224, 214, 214);
    outline: none;
    color: blue;
    border-radius: 10px;
    margin-top: 2em;
    border: none;
    width: 35%;
}
.details .details-file .first .inner{
    margin-left: 3em;
   
}
.details .details-file .last{
   width:80%; 
   margin-top: 2em;
   margin-right: 1em;
   text-align: center;
    display: block;
    
}

.details .details-file2 .first button{
    background-color: rgb(224, 214, 214);
    outline: none;
    color: blue;
    border-radius: 10px;
    margin-top: 2em;
    border: none;
    width: 35%;
}
.details .details-file2 .first .inner{
    margin-left: 3em;
   
}
.details .details-file2 .last{
   width: 70%; 
   margin-top: 2em;
   margin-right: 1em;
   text-align: center;
    display: block;
    
}